---
title: 13 Robotics
---
<%= partial "layouts/banner" %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% data.projects.each do |name, project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= project.city_slug %>');">
            <div class="card-category"><%= project.city_name %></div>
            <div class="card-description">
              <h3><%= project.name %></h3>
              <p><%= project.briefing %></p>
            </div>
            <%= image_tag "images/projects/#{name}.png", class:"card" %>
            <%= link_to "", "projects/#{name}.html", class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>

</div>


